html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
}

#app > h1, #app > h2 {
    text-align: center;
}

#app > * {
    margin-bottom: 6px;
}
